html
    head
        title Cette page n’existe pas
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" href="/img/corsica.ico")

    body
        h1(class='head-title') Cette page n’existe pas
        a(href='/') Retour à l’accueil
