html
    head
        title Backoffice
        meta(charrset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" href="/img/corsica.ico")

    body
        include nav.pug
        h1(class='head-title') Back Office

        ul 
            li User 1
            li User 2
            li User 3
            li User 4
            li User 5
            li User 6
            li User 7
            li User 8
            li User 9
            li User 10