html
    head
        title Page d’accueil
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" href="/img/corsica.ico")

    body
        include nav.pug
        div(class='head-banner')
            h1(class='index-title') Bienvenue sur le Chat 100% Corse !
