meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans")


nav(class='nav')
    ul(class='menu')
        li(class='brand')
            a(href="/") Accueil
        li
            a(href="/signup") S'inscrire
        li
            a(href="/signin") Se connecter
        li
            a(href="/admin") Admin
        li
            a(href="/chat") Chat







    //- a(href="/") Accueil
    //- |
    //- | |
    //- |
    //- a(href="/signup") S'inscrire
    //- |
    //- | |
    //- |
    //- a(href="/signin") Se connecter
    //- |
    //- | |
    //- |
    //- a(href="/admin") Admin
    //- |
    //- | |
    //- |
    //- a(href="/chat") Chat
