html
    head
        title Inscription
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/style.css")
        link(rel="icon" href="/img/corsica.ico")

    body
        include nav.pug
        h1(class='head-title') S'inscrire
        div(class="wrapper")
            form(class="form-signin" action="/signup" method="post")
                h2(class="form-signin-heading") S'inscrire
                input(type="text" class="form-control" name="username" placeholder="Email" required="" autofocus="")
                |
                input(type="password" class="form-control" name="password" placeholder="Mot de passe" required="")
                |
                input(class="form-button" type="submit" value="Entre dans la famille !")




        //- h1(class='head-title') S'inscrire
        //- form(action="/signup", method="post")
        //-     input(type="email", name="email", placeholder="Email")
        //-     input(type="password", name="password", placeholder="mot de passe")
        //-     input(type="submit", value="Envoyer")